.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    z-index: 1;
}
 
.form-container {
    width: 100%; /* Modified width to occupy full container */
    margin: 0 auto;
    padding: 20px;
    background-color: #f6efcc;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px black;
}
 
.form-title {
    text-align: center;
    color: #3b0fde;
}
 
.form-group {
    margin-bottom: 20px;
    padding: 5px;
}
 
label {
    display: block;
    font-weight: bold;
}
 
input[type="text"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
 
button[type="submit"] {
    width: 15%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
 
button[type="submit"]:hover {
    background-color: #45a049;
}