<div class="background-image-container">
<div class="active-policies-container">
    <div class="header">
        <div>
            <!-- Logo link here -->
           <a class="logo-link" routerLink="/homepage">
             <img src="assets/InsuraNexus.png" alt="InsuraNexus Logo">
           </a>
        </div>
    </div>
    <h1>Active Policies</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Policy Number</th>
          <th>Type</th>
          <th>Premium</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of activePolicies">
          <td>{{ policy.name }}</td>
          <td>{{ policy.email }}</td>
          <td>{{ policy.policyNumber }}</td>
          <td>{{ policy.policyType }}</td>
          <td>{{ policy.amount}}</td>
          <td>{{ policy.startDate }}</td>
          <td>{{ policy.endDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>