.header {
  background-color: lilac;
  padding: 10px;
  display: flex;
  align-items: baseline; /* Align items based on their baseline */
}

.logo-link {
  margin-inline-end: auto; /* Pushes the logo to the left corner */
}

/* Adjust the size of the logo */
.logo-link img {
 
  inline-size: 50px;
  block-size: auto;
}

.heading {
  color: #138496; /* Change 'blue' to the color of your choice */
}
.background-image-container {
  background-image: url('../../assets/InsuranceBG.png'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  position: fixed; /* Fixed positioning to cover the entire viewport */
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: -1; /* Ensure the background image stays behind the content */
}
.input-container {
  display: flex; /* Use flexbox to align input and button */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}
input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-inline-end: 10px;
  }
   
  button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
   
   
  .search-btn {
    background-color: #28a745;
    color: #28a745;}
   
  table {
    margin-block-start: 30px;
    inline-size: 100%;
    border-collapse: collapse;
  }
   
  th, td {
    border: 1px solid #dddddd;
    text-align: start;
    padding: 8px;
    margin-block-end: 80px;

  }
   
  th {
    background-color: #04AA6D;
  }
   
  tr:nth-child(even) {
    background-color:  #f2f2f2;
  }
   
  tr:nth-child(odd) {
    background-color:  #f2f2f2;
  }

  tr:hover {
    background-color: #d4dbd2;
  }
  footer {
    background-color: lilac;
    color: black;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
  }
