<div class="background-image-container">
<div class="policy-list-container">
    <div class="header">
        <div>
            <!-- Logo link here -->
           <a class="logo-link" routerLink="/admin-dashboard">
             <img src="assets/InsuraNexus.png" alt="InsuraNexus Logo">
           </a>
        </div>
        <div class="button-container">
            <button class="btn-new" routerLink="/add-policy">Post New details</button>
        </div>
    </div>
    
    <table>
    <thead>
    <tr>
    <th>ID</th>
    <th>Policy Name</th>
    <th>Description</th>
    <th>Premium</th>
    <th>Policy Type</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let policy of policies">
    <td>{{ policy.id }}</td>
    <td>{{ policy.policyName }}</td>
    <td>{{ policy.description }}</td>
    <td>{{ policy.premium }}</td>
    <td>{{ policy.policyType }}</td>
    <td>
    <button class="btn-update" (click)="updatePolicy(policy)">Update</button>
    <button class="btn-delete" (click)="deletePolicy(policy.id)">Delete</button>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
</div>