<div class="background-image-container">
<div class="admin-user-container">
    <div class="header">
        <div>
            <!-- Logo link here -->
           <a class="logo-link" routerLink="/admin-dashboard">
             <img src="assets/InsuraNexus.png" alt="InsuraNexus Logo">
           </a>
        </div>
    </div>
    <h1>User Details</h1>

    <table class="user-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobilenumber }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>