<div class="container">
  <div class="form-container">
    <h2 class="form-title">Post New Home Data</h2>
    <form [formGroup]="postCustomerForm" (ngSubmit)="postCustomer()">
      <div class="form-group">
        <label for="policyNumber">Policy Number:</label>
        <input type="text" id="policyNumber" name="policyNumber" formControlName="policyNumber">
        <div *ngIf="submitted && postCustomerForm.get('policyNumber')?.invalid">
          <div *ngIf="postCustomerForm.get('policyNumber')?.errors?.['required']">Policy number is required.</div>
          <div *ngIf="postCustomerForm.get('policyNumber')?.errors?.['invalidPolicyNumber']">Policy number must contain only alphabetic or numeric characters.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="type">Home Insurance Type :</label>
        <select id="type" name="type" formControlName="type" class="dropdown-select">
          <option value="Basic Form Policy">Basic Form Policy</option>
          <option value="Renter's Insurance">Renter's Insurance</option>
          <option value="Mobile Home Insurance">Mobile Home Insurance</option>
          <option value="Older Home Policy">Older Home Policy</option>
        </select>
        <div *ngIf="submitted && postCustomerForm.get('type')?.invalid">
          <div *ngIf="postCustomerForm.get('type')?.errors?.['required']">Home type is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="premium">Premium:</label>
        <input type="text" id="premium" name="premium" formControlName="premium">
        <div *ngIf="submitted && postCustomerForm.get('premium')?.invalid">
          <div *ngIf="postCustomerForm.get('premium')?.errors?.['required']">Premium is required.</div>
          <div *ngIf="postCustomerForm.get('premium')?.errors?.['pattern']">Premium must contain only numeric characters.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" name="status" formControlName="status" class="dropdown-select" >
          <option value="Active">Active</option>
          <option value="Pending">Pending</option>
          <option value="Cancelled">Cancelled</option>
          <option value="InProgress">InProgress</option>
        </select>
        <div *ngIf="submitted && postCustomerForm.get('status')?.invalid">
          <div *ngIf="postCustomerForm.get('status')?.errors?.['required']">Status is required.</div>
          <div *ngIf="postCustomerForm.get('status')?.errors?.['invalidStatus']">Invalid status selected.</div>
        </div>
      </div>
      <button type="submit">Post</button>
    </form>
  </div>
</div>
 