.header {
    background-color: lilac;
    padding: 10px;
    display: flex;
    align-items: baseline; /* Align items based on their baseline */
  }
 
  .logo-link {
    margin-inline-end: auto; /* Pushes the logo to the left corner */
  }
 
  /* Adjust the size of the logo */
  .logo-link img {
   
    inline-size: 50px;
    block-size: auto;
  }
 
  .heading {
    color: #138496; /* Change 'blue' to the color of your choice */
  }
  .background-image-container {
    background-image: url('../../assets/InsuranceBG.png'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    position: fixed; /* Fixed positioning to cover the entire viewport */
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: -1; /* Ensure the background image stays behind the content */
    max-block-size: 100vh; /* Set maximum height for the container */
    overflow-y: auto; /* Add vertical scrollbar */
  }
.admin-support-container {
    margin-block-start: 20px;
}
.admin-support-container h1 {
    color: black; 
    text-align: center; 
}

.message-table {
    inline-size: 100%;
    border-collapse: collapse;
    background-color: #ffffff; /* White background for the table */
    border: 1px solid #4caf50; /* Changed to match button color */
}

.message-table th, .message-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: start;
}

.message-table th {
    background-color: #4caf50; /* Changed to match button color */
    color: white; /* White text color for header */
}

.message-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

.message-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

button {
    padding: 5px 10px;
    cursor: pointer;
    margin-inline-start:10px;
    transition: background-color 0.3s ease;
    background-color: #4caf50; /* Changed to match table header color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
}

button:hover {
    background-color: #28a745; /* Changed to match .search-btn color */
}
