<div class="background-image-container">
    <div class="header">
        <div>
            <!-- Logo link here -->
           <a class="logo-link" routerLink="/get-policy">
             <img src="assets/InsuraNexus.png" alt="InsuraNexus Logo">
           </a>
        </div>
    </div>
<form (submit)="submitForm()">
    <label for="policyName">Policy Name:</label><br>
    <input type="text" id="policyName" name="policyName" [(ngModel)]="policy.policyName"><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" [(ngModel)]="policy.description"></textarea><br>

    <label for="premium">Premium:</label><br>
    <input type="number" id="premium" name="premium" [(ngModel)]="policy.premium"><br>

    <label for="policyType">Policy Type:</label><br>
    <input type="text" id="policyType" name="policyType" [(ngModel)]="policy.policyType"><br>

    <button type="submit">Submit</button>
</form>
</div>