<!-- forgot-password.component.html -->

<div class="background-image-container">
  <div class="forgot-password-container">
    <div *ngIf="!otpVerified" class="form-container">
      <h2>Forgot Password</h2>
      <form (ngSubmit)="sendOTP()">
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
        <!-- Use routerLink directive to navigate to the OTP verification page -->
        <button type="button" routerLink="/otp">Send OTP</button>
      </form>
    </div>

    <div *ngIf="otpVerified" class="form-container">
      <h2>Verify OTP</h2>
      <form (ngSubmit)="verifyOTP()">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" name="otp" [(ngModel)]="otp" required>
        <button type="submit">Verify OTP</button>
      </form>
    </div>

    <div *ngIf="passwordReset" class="success-message">
      <h2>Password Reset Successful</h2>
      <!-- Add any additional content for password reset success -->
    </div>
  </div>
</div>
