<!-- customer-support.component.html -->
 
<div class="about-section" style="margin-bottom: 5%; margin-top: 2%;">
    <h1>CUSTOMER SUPPORT</h1>
    </div>
    <div class="container">
    <div class="left-container">
    <h3 class="contact-info" style="font-family: 'Times New Roman', Times, serif;">We're Here for You</h3>
    <p class="text">
          Dedicated to resolving your queries with care and efficiency. Together, we'll navigate any challenge you encounter.
    </p>
    <p style="color: blue; margin-top: 50px;"><i class="fas fa-phone"></i>Contact : +91 2424343414</p>
    <p style="color: blue; margin-top: 3px;"><i class="fa fa-envelope" style="font-size:48px;color:red"></i>Email : info@dxc.com</p>
    <div class="social-icons">
    <a href="#">
    <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#">
    <i class="fab fa-twitter"></i>
    </a>
    <a href="#">
    <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
    <i class="fab fa-linkedin-in"></i>
    </a>
    </div>
    </div>
    <!-- Quick Contact Section -->
    <div class="Quick-Contact">
    <form id="contact" (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
    <h3 style="font-family: 'Times New Roman', Times, serif;">Quick Contact</h3>
    <h4>Contact us today, and get reply within 24 hours!</h4>
    <fieldset>
        <input id="name" name="name" placeholder="Your name" type="text" pattern="[a-zA-Z]+.[a-zA-Z\s]+" maxlength="32" required autofocus [(ngModel)]="name">
        <span class="error" *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].errors?.['required'] && contactForm.submitted">Name is required</span>
        <span class="error" *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].errors?.['pattern']&& contactForm.submitted">Please enter a valid name using only(letters and spaces)</span>
    </fieldset>
    <fieldset>
        <input id="email" name="email" placeholder="Your Email Address" type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" tabindex="2" required [(ngModel)]="email">
        <span class="error" *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].errors?.['required'] && contactForm.submitted">Email is required</span>
        <span class="error" *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].errors?.['pattern'] && contactForm.submitted">Invalid email format</span>
    </fieldset>
    <fieldset>
        <input id="phoneNumber" name="phoneNumber" placeholder="Your Phone Number" type="tel" pattern="[6-9]{1}[0-9]{9}" tabindex="3" required [(ngModel)]="phoneNumber">
        <span class="error" *ngIf="contactForm.controls['phoneNumber'].invalid && contactForm.controls['phoneNumber'].errors?.['required'] && contactForm.submitted">Phone number is required</span>
        <span class="error" *ngIf="contactForm.controls['phoneNumber'].invalid && contactForm.controls['phoneNumber'].errors?.['pattern']&& contactForm.submitted">Please enter a valid phone number starting with 6-9 and having 10 digits</span>
    </fieldset>
    <fieldset>
        <textarea id="message" name="message" placeholder="Type your Message Here...." tabindex="5" maxlength="300" required [(ngModel)]="message"></textarea>
        <span class="error" *ngIf="contactForm.controls['message'].invalid && contactForm.controls['message'].errors?.['required'] && contactForm.submitted">Please enter a message (10-250 characters).</span>
    </fieldset>
   
    <fieldset>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    <button name="submit" type="back" id="contact-back" (click)="navigateToHomePage()">Back</button>
    </fieldset>
    </form>
    </div>
    </div>