<div class="home-container">
  <div class="header">

    <div class="profile">
      <button class="profile-btn">Profile</button>
      <div class="profile-dropdown">
        <!-- Profile dropdown content here -->
        <a href="#">Edit Profile</a>

        <a href="#">Notifications</a>
        <a href="#">Change Password</a>
        <a href="#">Sign out</a>
        <a href="#"></a>
        <!-- Add more options as needed -->
      </div>
    </div>
    <div class="actions">
      <div class="dropdown">
        <button class="dropbtn">Policies</button>
        <div class="dropdown-content">
          <!-- Policies dropdown content here -->
          <div class="nested-dropdown">
              <a href="#">Health Insurance</a>
             
          </div>
          <div class="nested-dropdown">
            <a routerLink="/healthInsurance">Life Insurance</a>
              
          </div>
          <div class="nested-dropdown">
               <a href="#">Vehicle Insurance</a>
               
          </div>
          <div class="nested-dropdown">
              <a href="#">Home Insurances</a>
             
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Renewals</button>
        <div class="dropdown-content">
          <!-- Renewals dropdown content here -->
          <a href="#">Health Insurance</a>
          <a href="#">Life Insurance</a>
          <a href="#">Vehicle Insurance</a>
         
          <a href="#">Home Insurance</a>
          
          <!-- Add more renewals as needed -->
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Claims</button>
        <div class="dropdown-content">
          <!-- Claims dropdown content here -->
          <a href="#">File a new claim</a>
          <a href="#">Existing filed claim</a>
          <a href="#">Track the filed claim</a>
          <!-- Add more claims as needed -->
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Support</button>
        <div class="dropdown-content">
          <!-- Support dropdown content here -->
          <a href="#">Raise an Issue</a>
          <a href="#">Contact Us</a>
          <a href="#">Chat with Us</a>
          <!-- Add more support options as needed -->
        </div>
       
      </div>
    </div>
  </div> 
  <h1>We provide you the best Insurance</h1>
  <h2>Secure the Future, Protect Whats Important</h2>

  <footer>
    <p>&copy; 2024 Insurance Aggregator. All rights reserved.</p>
  </footer> 
  <!-- Add any other relevant content, such as featured insurance plans, testimonials, etc. -->
</div>




