* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
.header {
  background: linear-gradient(to right, #6c63ff, #4ecdc4);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
 
.header .profile-dropdown .dropdown-content a,
.actions .dropdown .dropbtn {
  font-size: 16px;
}
 
 
 
.profile-btn, .dropbtn {
  background-color: #040404;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top:3px;
  margin-right: 10px;
  margin-left: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
 
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
 
.dropdown-content a:hover {background-color: #f1f1f1;}
 
.profile-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
 
.profile-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
 
.profile-dropdown a:hover {background-color: #f1f1f1;}
 
.dropdown:hover .dropdown-content {display: block;}
.profile:hover .profile-dropdown {display: block;}
 
.dropdown-content a:hover { background-color: #f1f1f1; }
 
.dropdown:hover .dropdown-content { display: block; }
 
.nested-dropdown:hover .nested-content { display: block; }
 
.nested-content {
display: none;
position: absolute;
left: 100%;
top: 0;
min-width: 160px;
background-color: #f9f9f9;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.nested-content a {
padding: 12px 16px;
}
 
.profile:hover .profile-dropdown { display: block; }
footer {
background-color: #140e0edd;
color: #fdf8f8e3;
text-align: center;
align-items: flex-end;
padding: 5px;
}    
 
.actions {
  display: flex;
}
 
.dropdown {
  position: relative;
  display: inline-block;
}
 
.dropbtn {
  background-color: #0f100f;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
 
.dropdown:hover .dropdown-content {
  display: block;
}
 
 
.nested-dropdown {
  position: relative;
  display: inline-block;
}
 
.nested-dropdown .nested-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 
.nested-dropdown:hover .nested-content {
  display: block;
}
.home-container {
  padding: 20px;
  text-align: center;
}
 
 
.home-container h1 {
  font-size: 50px;
  padding: 20px;
  margin-bottom: 20px;
}
.home-container h2 {
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
 
.home-container {
  background-image: url('/assets/insu.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
 
}
 
 
footer {
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: 10px;
  margin-right: 10px;
 
  background-color:#080606e1;
  color: white;
}
 
 
 