.container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
}

.form-container {
    width: 70%;
    margin: 0 auto; /* Center the form container horizontally */
    padding: 20px;
    background-color: #f6efcc;
    border-radius: 5px;
    border: 1px solid black; /* Added 1px solid border */
    box-shadow: 0px 0px 10px 0px black;
    margin-top: 90px;
    margin-bottom: 50px;
}

.form-title {
    text-align: center;
    color: #3b0fde;
}

.form-group {
    margin-bottom: 20px;
    padding: 5px;
}

label {
    display: block;
    font-weight: bold;
    color: #4a4a4a; /* Changed label color */
}

input[type="text"] {
    width: calc(100% - 22px); /* Adjusted width for text boxes */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; /* Added margin-top to align with other elements */
    color: #333; /* Changed text color */
}

/* Style readonly input fields */
input[type="text"][readonly] {
    background-color: #ddd; /* Change background color for readonly fields */
    color: #777; /* Change text color for readonly fields */
}

.select-container {
    width: calc(100% - 22px); /* Adjusted width for dropdown containers */
    margin-top: 5px; /* Added margin-top to align with other elements */
}

select {
    width: 100%; /* Adjusted width for dropdowns */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333; /* Changed text color */
}

button[type="submit"] {
    width: 15%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px; /* Added margin-top to align with other elements */
}

button[type="submit"]:hover {
    background-color: #45a049;
}
