<div class="policy-container">
    <div class="policy-details">
      <h2>Coverage details</h2>
      <div class="policy-name">Description of home insurance</div>
      <div class="description">Renter's Guard is a robust insurance policy tailored to safeguard tenants against various risks associated with renting a property. It provides comprehensive coverage for property damage, protecting personal belongings, and offering liability coverage for accidents on the rented premises. Additionally, it ensures peace of mind by assisting with additional living expenses if the property becomes uninhabitable due to covered events. Renter's Guard offers tenants financial security and support, allowing them to enjoy their rented space with confidence.</div>
      <div class="policy-type">
        <span>Policy Type: </span>
        <span>RentersGuard</span>
      </div>
      <div class="premium-amount">
        <span>Amount: </span>
       
          <span>₹426/month</span>
        </div>
     
      <div class="benefits">
        <h3>Benefits:</h3>
        <ul>
            <li>Comprehensive coverage for property damage</li>
            <li>Protection for personal belongings against loss or damage</li>
            <li>Liability coverage for accidents occurring on the rented premises</li>
            <li>Peace of mind knowing you're financially protected as a tenant</li>
            <li>Assistance with additional living expenses in case of property unavailability</li>
        </ul>
      </div>
    </div>
    <div class="accept-and-proceed">
      <button (click)="acceptAndProceed()">Accept and Proceed</button>
     
    </div>
  </div>
