.header {
  background-color: lilac;
  padding: 10px;
  display: flex;
  align-items: baseline; /* Align items based on their baseline */
}

.logo-link {
  margin-inline-end: auto; /* Pushes the logo to the left corner */
}

/* Adjust the size of the logo */
.logo-link img {
 
  inline-size: 50px;
  block-size: auto;
}

.heading {
  color: #138496; /* Change 'blue' to the color of your choice */
}
.policy-container {    
    background-color: antiquewhite;
    position: fixed;
    block-size: 100%;
}
  h2 {
    text-align: center;
    color:blue;
    margin-block-end: 20px ;
  }
  .policy-name {
    font-weight: bold;
    margin-block-end: 20px;
    font-size:20px ;
  }
  .policy-details {
    inline-size: 80%; /* Adjust width as needed */
    padding: 20px;
    margin-block-end: 20px;
    align-items: center;
   
   
  }
  .description {
    margin-block-end: 20px;
    text-align: justify;
  }
  h3 {
    font-size:20px ;
  }
  .policy-type {
    font-weight: bold;
    margin-block-end: 10px;
  }
   
  .premium-amount {
    margin-block-end: 10px;
    font-weight: bold;
  }
  .benefits {
    margin-block-end: 10px;
  }
   
   
  .accept-and-proceed {
    margin-inline-start: 25px;
    margin-block-start: 20px;
  }
   
  .accept-and-proceed button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
   
  .accept-and-proceed button:hover {
    background-color: darkblue;
  }