<div class="policy-container">
    <div class="policy-details">
      <h2>Coverage details</h2>
      <div class="policy-name">Description of home insurance</div>
      <div class="description">Protect your home and belongings with our comprehensive home insurance policy. Our Home Insurance policy, known as Homeguard Secure, offers comprehensive protection for your home and belongings. With Homeguard Secure, you can safeguard your property against various risks, including damage to your home and personal belongings, as well as liability coverage for accidents that may occur on your property. This policy provides peace of mind by ensuring that you are financially protected in the event of unforeseen circumstances.</div>
      <div class="policy-type">
        <span>Policy Type: </span>
        <span>Homeguard Secure</span>
      </div>
      <div class="premium-amount">
        <span>Amount: </span>
       
          <span>₹526/month</span>
        </div>
     
      <div class="benefits">
        <h3>Benefits:</h3>
        <ul>
          <li>Coverage for property damage</li>
          <li>Coverage for personal belongings</li>
          <li>Liability coverage for accidents on your property</li>
        </ul>
      </div>
    </div>
    <div class="accept-and-proceed">
      <button (click)="acceptAndProceed()">Accept and Proceed</button>
      
    </div>
  </div>