<div class="background-image-container">
    <div class="forgot-password-container">
      <h2>Password Reset</h2>
      <div class="form-container">
        <form #passwordResetForm="ngForm" (ngSubmit)="resetPassword(passwordResetForm)">
          <div class="form-group">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
            <label for="password">New Password:</label>
            <div class="password-input-container">
              <input type="password" id="password" name="password" placeholder="Enter your new password" required minlength="8" [(ngModel)]="newPassword" #password="ngModel"
                     pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$">
   
              <i class="toggle-password fas fa-eye" (click)="togglePasswordVisibility('password')"></i>
            </div>
            <div class="validation-message" id="password-validation"></div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <div class="password-input-container">
              <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your new password" required minlength="8" [(ngModel)]="confirmPassword" #confirmPasswordInput="ngModel">
              <i class="toggle-password fas fa-eye" (click)="togglePasswordVisibility('confirmPassword')"></i>
            </div>
            <div class="validation-message" id="confirmPassword-validation"></div>
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)"class="error-message">
            <div *ngIf="password.errors?.['required']">Password is required.</div>
            <div *ngIf="password.errors?.['pattern']">Password must contain at least one number, one uppercase and lowercase letter, and at least 8 characters.</div>
          </div>
          <div class="error-message" *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)"class="error-message">
            <div *ngIf="confirmPasswordInput.errors?.['required']">Confirm password is required.</div>
          </div>
          <button type="submit">Reset Password</button>
        </form>
      </div>
    </div>
  </div>