body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,82,9,1) 35%, rgba(0,212,255,1) 100%);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-image {
  border: 10px solid transparent lilac;
  background-image: url('src/assets/Insurance.jpg') , url('src/assets/0000000.jpg');
  background-size: auto,cover; /* First image covers the whole background, second image auto */
  background-position: right center ; /* First image centered, second image right center */
  border-radius: 8px,10px;  
  position: fixed;
  border-image-outset: 5px solid #e0d213;
  background-origin: padding-box;
  background-repeat: no-repeat,repeat;
  background-attachment: fixed;
  background-position: 530px;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 1px;
 
}
.container {
  width: 30%;
  height: 90%;
  padding: 23px;
  color: rgb(78, 40, 3);
  font-size: 14px;
  justify-content: center;
  align-items: center;
  background-color: lilac;
  border-radius: 5px;
  box-shadow: 0 0 5px darkorange;
  margin: 70px;
  margin-top: 30px;
  margin-left: 70px;
  border:2px solid black ;
 
}

h2 {
  text-align: center;
  color:blue;
  margin-bottom: 20px ;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 98%;
  padding: 5px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc; /* Set border color */
  border-radius: 5px; /* Set border radius for rounded corners */
}


button {
  display: block;
  margin: 0 auto; /* Center the button horizontally */
  width: 35%; /* Width of the button */
  padding: 8px;
  font-size: 10px;
  background-color: #0004ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:30px ;
}
.error {
  color: red;
  font-size: 13px;
  margin-top: 5px; /* Adjust margin as needed */
}

button:hover {
  background-color: #0056b3;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #333;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
  color: blue;
}
.error-message {
  color: red;
}