<div class="background-image-container">
  <div class="forgot-password-container">
    <h2>Password Reset</h2>
    <div class="form-container">
      <form #passwordResetForm="ngForm" (ngSubmit)="resetPassword(passwordResetForm)">
        <div class="form-group">
          <label for="password">New Password:</label>
          <div class="password-input-container">
            <input type="password" id="password" name="password" placeholder="Enter your new password" required minlength="8" [(ngModel)]="newPassword">
            <i class="toggle-password fas fa-eye" (click)="togglePasswordVisibility('password')"></i>
          </div>
          <div class="validation-message" id="password-validation"></div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <div class="password-input-container">
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your new password" required minlength="8" [(ngModel)]="confirmPassword">
            <i class="toggle-password fas fa-eye" (click)="togglePasswordVisibility('confirmPassword')"></i>
          </div>
          <div class="validation-message" id="confirmPassword-validation"></div>
        </div>
        <button type="submit">Reset Password</button>
      </form>
    </div>
  </div>
</div>
