/* Container for background image */
.background-image-container {
    background-image: url('../../assets/images/InsuranceBG.png'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    position: fixed; /* Fixed positioning to cover the entire viewport */
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: -1; /* Ensure the background image stays behind the content */
  }
  
  /* Container styling */
  .forgot-password-container {
    max-inline-size: 400px;
    margin: auto; /* Center horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency to the container background */
    position: absolute; /* Change positioning to absolute */
    inset-block-start: 50%; /* Position from top 50% */
    transform: translateY(-50%); /* Centering vertically */
    inset-inline-start: 0;
    inset-inline-end: 0; /* To prevent container from stretching */
    margin-inline-start: auto;
    margin-inline-end: auto; /* To keep the container centered horizontally */
    z-index: 1; /* Ensure the container is above the background */
  }
  
  /* Form container */
  .form-container {
    margin-block-start: 20px;
  }
  
  /* Form elements styling */
  .form-container h2 {
    margin-block-end: 20px;
    color: #333;
  }
  
  .form-container label {
    display: block;
    margin-block-end: 5px;
    font-weight: bold;
  }
  
  .form-container input {
    inline-size: 100%;
    padding: 8px;
    margin-block-end: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container button {
    inline-size: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  /* Validation message styling */
  .validation-message {
    color: red;
    font-size: 12px;
  }
  
  /* Success message styling */
  .success-message {
    margin-block-start: 20px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 10px;
    border-radius: 3px;
  }
  .password-input-container {
    position: relative;
  }
  
  .password-input-container input[type="password"] {
    padding-inline-end: 8px; /* Adjust as needed */
  }
  
  .password-input-container .toggle-password {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 8px; /* Adjust as needed */
    transform: translateY(-50%);
    inset-block-start: 50%; /* Center vertically */
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  