.text-gray-700 {
    color: #4a5568;
}

.body-font {
    font-family: 'Roboto', sans-serif;
}

body {
    min-block-size: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */
    background-color: antiquewhite; /* Background color for the body */
}
.ml-auto.flex button:not(:last-child) {
    margin-inline-end: 20px;
}

.mx-auto {
    margin-inline-end: auto;
    margin-inline-start: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.p-5 {
    padding: 1.25rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.md\:flex-row {
    flex-direction: row !important;
}

.items-center {
    align-items: center;
}

.md\:mb-0 {
    margin-block-end: 0 !important;
}

.md\:ml-auto {
    margin-inline-start: auto !important;
}

.text-gray-900 {
    color: #1a202c;
}

.mb-4 {
    margin-block-end: 1rem;
}

.title-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.text-xl {
    font-size: 1.25rem;
}

.text-white {
    color: #fff;
}

.ml-3 {
    margin-inline-start: 20px; /* Adjust this value as needed */
}

.hover\:text-gray-900:hover {
    color: #2d3748;
}

.hover\:text-white:hover {
    color: #fff;
}

.w-10 {
    inline-size: 2.5rem;
}

.h-10 {
    block-size: 2.5rem;
}

.p-2 {
    padding: 0.5rem;
}

.bg-indigo-500 {
    background-color: #667eea;
}

.rounded-full {
    border-radius: 9999px;
}

.fill-current {
    fill: currentColor;
}

.viewBox {
    inline-size: 24px;
    block-size: 24px;
}

.flex-1 {
    flex: 1;
}

/* Reduce image size */
img {
    max-inline-size: 150%;
    block-size: auto;
}

/* Add margin to push Admin login and User login to the right */
.flex > div {
    margin-inline-start: auto;
}
.logo-link {
    margin-inline-end: auto;
  }
   
  .profile-btn {
    margin-inline-start: 20px;
  }
  .logo-link img {
   
    inline-size: 90px;
    block-size: auto;
    margin-inline-start: 0.1px;
    margin-inline-end: 10px;
    vertical-align: middle;
  }

/* Center align the buttons vertically with the logo */
.logo,
.button-container {
    display: flex;
    align-items: center;
}
footer {
    background-color: lilac;
    color: black;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
  }
