<div class="background-image-container">
  <div class="forgot-password-container">
    <div *ngIf="!otpVerified" class="form-container">
      <h2>Forgot Password</h2>
      <form (ngSubmit)="sendOTP()" #forgotPasswordForm="ngForm">
        <label for="email">Enter your email:</label>
        <!-- Use the email validator and a custom pattern validator -->
        <input type="email" id="email" name="email" [(ngModel)]="email" required email pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailInput="ngModel">
        <div *ngIf="emailInput?.errors?.['required'] && (emailInput.dirty || emailInput.touched)" class="error-message">
          <span>Email is required.</span>
        </div>
        <div *ngIf="emailInput?.errors?.['pattern'] && (emailInput.dirty || emailInput.touched)" class="error-message">
          <span>Please enter a valid email.</span>
        </div>
        <!-- Use [disabled] property binding to enable/disable the button based on the validity of the form -->
       
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
      </form>
    </div>



