<div class="policy-container">
  <div class="header">
    <div>
        <!-- Logo link here -->
       <a class="logo-link" routerLink="/homepage">
         <img src="assets/InsuraNexus.png" alt="InsuraNexus Logo">
       </a>
    </div>
  </div>
    <div class="policy-details">
      <h2>Coverage details</h2>
      <div class="policy-name">Description of vehicle insurance</div>
      <div class="description">MotorShield Cycle is a protective windshield designed for motorcycles, deflecting wind, debris, and insects to enhance rider safety and comfort. With options for customization like tinted or clear materials, it offers tailored protection for a smoother, more enjoyable ride.</div>
      <div class="policy-type">
        <span>Policy Type: </span>
        <span>MotorcycleShield</span>
      </div>
      <div class="premium-amount">
        <span>Amount: </span>
       
          <span>₹329/month</span>
        </div>
        <div class="benefits">
                <h3>Benefits:</h3>
                <ul>
                    <li>Enhanced rider safety by deflecting wind, debris, and insects away from the rider's body</li>
                    <li>Reduction of wind noise and turbulence for a more comfortable riding experience</li>
                    <li>Protection against flying debris and environmental elements, minimizing the risk of injury and distraction</li>
                    <li>Improved aerodynamics, contributing to smoother rides and enhanced fuel efficiency</li>
                   
       
                    <li>Regular maintenance to ensure optimal performance and longevity</li>
           
                </ul>
            </div>
           
    </div>
    <div class="accept-and-proceed">
      <button (click)="acceptAndProceed()">Accept and Proceed</button>
    </div>
  </div>
