<div class="policy-container">
    <div class="policy-details">
      <h2>Coverage details</h2>
      <div class="policy-name">Description of vehicle insurance</div>
      <div class="description">When you purchase vehicle insurance, you enter into a contract with an insurance provider. In exchange for regular premium payments, the insurance company agrees to provide coverage for certain risks associated with owning and operating a vehicle.The coverage provided by vehicle insurance typically includes liability coverage, which protects you against bodily injury and property damage that you may cause to others. It also includes collision and comprehensive coverage, which cover damage to your own vehicle from accidents, theft, vandalism, and other non-collision incidents</div>
      <div class="policy-type">
        <span>Policy Type: </span>
        <span>DriveSafe Premier</span>
      </div>
      <div class="premium-amount">
        <span>Amount: </span>
       
          <span>₹329/month</span>
        </div>
        <div class="benefits">
            <h3>Benefits:</h3>
            <ul>
            <li>Coverage for damage to your vehicle</li>
            <li>Protection for your personal belongings inside the vehicle</li>
            <li>Liability coverage for accidents involving your vehicle</li>
            <li>Roadside assistance in case of breakdowns or emergencies</li>
            <li>Optional add-ons for additional coverage tailored to your needs</li>
            </ul>
            </div>
    </div>
    <div class="accept-and-proceed">
      <button (click)="acceptAndProceed()">Accept and Proceed</button>
    </div>
  </div>

