body {
    font-family: Arial, sans-serif;
}
 
.container {
    max-inline-size: 600px;
    margin: 0 auto;
    padding: 2%;
    box-shadow: 0 0 10px #ae930f;
    margin-block-start: 25px; /* Red shadow */
    background-color: antiquewhite;
}
 
h2 {
    color: rgb(43, 18, 227);
    text-align: center;
}
 
.form-group {
    margin-block-end: 2px;
}
 
label {
    display: block;
    font-weight: bold;
    margin-block-end: 5px;
}
 
input[type="text"], select {
    inline-size: calc(100% - 12px); /* Adjusted width to accommodate for border and padding */
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 4px; /* Added padding for select element */
}
input[type="number"], select {
    inline-size: calc(100% - 12px); /* Adjusted width to accommodate for border and padding */
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 4px; /* Added padding for select element */
}
 
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-block-start: 10px;
}
 
input[type="submit"]:hover {
    background-color: #45a049;
}
 
.inline-group {
    display: inline-block;
    inline-size: 49.4%;
    vertical-align: top;
}
.error {
    color: red;
    font-size: 13px;
    margin-block-start: 5px; /* Adjust margin as needed */
  }