.header {
    background-color: lilac;
    padding: 10px;
    display: flex;
    align-items: baseline; /* Align items based on their baseline */
  }
 
  .logo-link {
    margin-inline-end: auto; /* Pushes the logo to the left corner */
  }
 
  /* Adjust the size of the logo */
  .logo-link img {
   
    inline-size: 50px;
    block-size: auto;
  }
 
  .heading {
    color: #138496; /* Change 'blue' to the color of your choice */
  }
body {
    font-family: Arial, sans-serif;
}
 
.container {
    max-inline-size: 600px;
    margin: 0 auto;
    padding: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-block-start: 25px; /* Red shadow */
    background-color: #f0f0f0; 
}
 
.policy-container {    
    background-image: url('../../assets/InsuranceBG.png');
    background-size: cover;
    background-position: center;
    position: fixed; /* Fixed positioning to cover the entire viewport */
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: -1; /* Ensure the background image stays behind the content */
    max-block-size: 100vh; /* Set maximum height for the container */
    overflow-y: auto; /* Add vertical scrollbar */
}

h2 {
    color: rgb(43, 18, 227);
    text-align: center;
}
 
.form-group {
    margin-block-end: 2px;
}
 
label {
    display: block;
    font-weight: bold;
    margin-block-end: 5px;
}
 
input[type="text"], select {
    inline-size: calc(100% - 12px); /* Adjusted width to accommodate for border and padding */
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 4px; /* Added padding for select element */
}
input[type="number"], select {
    inline-size: calc(100% - 12px); /* Adjusted width to accommodate for border and padding */
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 4px; /* Added padding for select element */
}
 
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-block-start: 10px;
}
 
input[type="submit"]:hover {
    background-color: #45a049;
}
 
.inline-group {
    display: inline-block;
    inline-size: 49.4%;
    vertical-align: top;
}
.error {
    color: red;
    font-weight: bold;
    font-size: 13px;
    margin-block-start: 5px; /* Adjust margin as needed */
  }