<div class="container">
    <h2>Customer Details</h2>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
            <label for="username">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="form.value.name" required>
                <div class="error" *ngIf="submitted && form.controls['name'].errors?.['required']">Name is required.</div>
                <div class="error" *ngIf="submitted && form.controls['name'].errors?.['pattern']">Invalid name format.</div>
            </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" [(ngModel)]="form.value.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div class="error" *ngIf="submitted && form.controls['email'].errors?.['required']">Email is required.</div>
                <div class="error" *ngIf="submitted && form.controls['email'].errors?.['pattern']">Invalid email format.</div>
            </div>
        <div class="form-group">
            <label for="phone">Mobile Number:</label>
            <input type="text" id="mobileNumber" pattern="[6-9]{1}[0-9]{9}" name="mobileNumber" [(ngModel)]="form.value.mobileNumber" required>
                <div class="error" *ngIf="submitted && form.controls['mobileNumber'].errors?.['required']">Mobile number is required.</div>
                <div class="error" *ngIf="submitted && form.controls['mobileNumber'].errors?.['pattern']">Mobile Number begins with [6-9] only and it must be at least 10 digits</div>
            </div>
        <div class="form-group">
            <div class="inline-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" [(ngModel)]="form.value.age" required>
                <div class="error" *ngIf="submitted && form.controls['age'].errors?.['required']">Age is required.</div>
            </div>
            <div class="inline-group">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" [(ngModel)]="form.value.gender" required>
                    <option value="male">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <div class="error" *ngIf="submitted && form.controls['gender'].errors?.['required']">Gender is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Policy Number:</label>
            <input type="text" id="policyNumber" name="policyNumber" [(ngModel)]="form.value.policyNumber" required>
                <div class="error" *ngIf="submitted && form.controls['policyNumber'].errors?.['required']">Policy number is required.</div>
            </div>
        <div class="form-group">
            <label for="policyType">Policy Type:</label>
            <select id="policyType" name="policyType" [(ngModel)]="form.value.policyType" required>
                <option value="">Select Policy Type</option>
                <option value="DriveSafe Premier">DriveSafe Premier</option>
                <option value="RentersGuard">RentersGuard</option>
                <option value="HomeGuard Secure">HomeGuard Secure</option>
                <option value="MotorcycleShield">MotorcycleShield</option>
            </select>
            <div class="error" *ngIf="submitted && form.controls['policyType'].errors?.['required']">Policy type is required.</div>
        </div>
        <div class="form-group">
            <label for="premium">Premium:</label>
            <input type="number" id="premium" name="premium" [(ngModel)]="form.value.premium" required>
                <div class="error" *ngIf="submitted && form.controls['premium'].errors?.['required']">Premium is required.</div>
            </div>
        <input type="submit" value="Submit">
    </form>
</div>
